# 1. Manipulate using a list.

i) To add new elements to the end of the list

ii) To reverse elements in the list

iii) To display the same list of elements multiple times.

iv) To concatenate two list

v) To sort the elements in the list in ascending order.

In [1]:
l=[1,2,3,8,"bha","ss"] #creating a list
l

[1, 2, 3, 8, 'bha', 'ss']

In [2]:
l.append(46)     #adding new elements
l.append("mphasis")
l

[1, 2, 3, 8, 'bha', 'ss', 46, 'mphasis']

In [5]:
l.reverse()  #reversing elements
l

['mphasis', 46, 'ss', 'bha', 8, 3, 2, 1]

In [10]:
a=[]  #same list of elements multiple times
a=3*l
a

['mphasis',
 46,
 'ss',
 'bha',
 8,
 3,
 2,
 1,
 'mphasis',
 46,
 'ss',
 'bha',
 8,
 3,
 2,
 1,
 'mphasis',
 46,
 'ss',
 'bha',
 8,
 3,
 2,
 1]

In [11]:
a=[1,2,3,4,5] #To concatenate two list
b=[5,4,3,2,1] 
c=a+b
c

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

In [16]:
a=[1,45,22,99,45,0] #sort the elements in ascending order
a.sort()
a

[0, 1, 22, 45, 45, 99]

In [17]:
a=['snake','zebra','tiger','cat']
a.sort()
a

['cat', 'snake', 'tiger', 'zebra']

# 2. Write a Python program to do in the tuples.

i) Manipulate using tuples.

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv) To display the elements of the same tuple multiple times.

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order.

In [18]:
name=("sai","vij","bhag","sri","to") 
name

('sai', 'vij', 'bhag', 'sri', 'to')

In [60]:
name=("sai","vij","bhag","sri","to") 
new='shiva'
name+=(new,)
name

('sai', 'vij', 'bhag', 'sri', 'to', 'shiva')

In [20]:
n=name[::-1]  #To reverse elements
n

('to', 'sri', 'bhag', 'vij', 'sai')

In [23]:
a=[]   #To display the elements of the same tuple multiple times.
a=2*name
a

('sai', 'vij', 'bhag', 'sri', 'to', 'sai', 'vij', 'bhag', 'sri', 'to')

In [24]:
a=(4,5,6)  #To concatenate two tuples   
b=('practice','exercise','solutions')
a+b

(4, 5, 6, 'practice', 'exercise', 'solutions')

In [27]:
c=sorted(b) #elements in ascending order.
c

['exercise', 'practice', 'solutions']

In [61]:
num=(33,77,9,455,4,2222,99999) ##elements in ascending order.
print("ascending order:",sorted(num))

ascending order: [4, 9, 33, 77, 455, 2222, 99999]

# 3. Write a python program to implement the following using list.

i) Create a list with integers (minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list [2:]

v) Command for displaying the values from the list[:6]

In [29]:
l=[22,55,3,67,33,123,8,3445,56,18] #Create a list
l

[22, 55, 3, 67, 33, 123, 8, 3445, 56, 18]

In [30]:
l[-1] #last number in the list

18

In [31]:
l[0:4]

[22, 55, 3, 67]

In [32]:
l[2:]

[3, 67, 33, 123, 8, 3445, 56, 18]

In [33]:
l[:6]

[22, 55, 3, 67, 33, 123]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i. To display the elements 10 and 50 from tuple1

ii. To display the length of a tuple1.

iii. To find the minimum element from tuple1.

iv. To add all elements in the tuple1.

v. To display the same tuple1 multiple times

In [34]:
tuple1=(10,50,20,40,30)
tuple1

(10, 50, 20, 40, 30)

In [35]:
tuple1[0:2]

(10, 50)

In [36]:
len(tuple1)

5

In [37]:
min(tuple1)

10

In [63]:
tuple1=(10,50,20,40,30)
t=23
tuple1+=(t,)
tuple1

(10, 50, 20, 40, 30, 23)

In [39]:
2*tuple1

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:

i. To calculate the length of a string

ii. To reverse words in a string

iii. To display the same string multiple times

iv. To concatenate two strings

v. Str1=” South India”, using string slicing to display “India”

In [40]:
str="bhargavi"
len(str)

8

In [42]:
str[::-1]

'ivagrahb'

In [43]:
3*str

'bhargavibhargavibhargavi'

In [44]:
a="sangisetti"
b="bhargavi"
a+b

'sangisettibhargavi'

In [46]:
str1="South India"
str2=str1[6:]
str2

'India'

# 6. Perform the following:

i) Creating the Dictionary.

ii) Accessing values and keys in the Dictionary.

iii) Updating the dictionary using a function.

iv) Clear and delete the dictionary values.

In [47]:
d={1:'sai',2:'bhargavi',3:'sangisetti'}
d

{1: 'sai', 2: 'bhargavi', 3: 'sangisetti'}

In [48]:
d[2]

'bhargavi'

In [52]:
d.keys()

dict_keys([1, 2, 3])

In [53]:
d.values()

dict_values(['sai', 'bhargavi', 'sangisetti'])

In [55]:
d[4]='mphasis'
d[5]='pune'
d

{1: 'sai', 2: 'bhargavi', 3: 'sangisetti', 4: 'mphasis', 5: 'pune'}

In [56]:
d1={6:'company'}
d.update(d1)
d

{1: 'sai',
 2: 'bhargavi',
 3: 'sangisetti',
 4: 'mphasis',
 5: 'pune',
 6: 'company'}

In [57]:
del(d[6])
d

{1: 'sai', 2: 'bhargavi', 3: 'sangisetti', 4: 'mphasis', 5: 'pune'}

In [58]:
del(d[5])
d

{1: 'sai', 2: 'bhargavi', 3: 'sangisetti', 4: 'mphasis'}

# 7. Python program to insert a nulmber to any position in a list.

In [44]:
l=['mphasis','next','applied']
l.insert(1,5)
l.insert(2,"the")
l

['mphasis', 5, 'the', 'next', 'applied']

# 8. Python program to delete an element from a list by index.

In [45]:
del l[1]
l

['mphasis', 'the', 'next', 'applied']

# 9. Write a program to display a number from 1 to 100.

In [64]:
l=range(1,100)
list(map(print,l))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

# 10. Write a Python program to find the sum of all items in a tuple.

In [46]:
import math
t=(1,2,3,4,6)
add=math.fsum(t)
int(add)

16

# 11. Create a dictionary containing three lambda functions square, cube and square root.

i) E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot':

function for square root}

ii) Pass the values (input from the user) to the functions in the dictionary respectively.

iii) Then add the outputs of each function and print it.

In [9]:
import math
f_dict = {
    'square': lambda x: x** 2,
    'cube': lambda x: x** 3,
    'squareroot': lambda x: math.sqrt(x)
}
num= float(input("Enter a number: "))
total = 0 
for func_name, func in f_dict.items():
    result = func(num)
    print(f"{func_name} of {num} is {result}")
    total+=result
print("Sum of the outputs:", total)

Enter a number: 5
square of 5.0 is 25.0
cube of 5.0 is 125.0
squareroot of 5.0 is 2.23606797749979
Sum of the outputs: 152.2360679774998

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

In [52]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
sec_upp=[]
for w in ls:
    if w[1].isupper():
        sec_upp.append(w)
print("wrds with second char in uppercase",sec_upp)

wrds with second char in uppercase ['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the

moon. (Use map and lambda functions) Formula : wMoon = (wEarth * GMoon) / GEarth

i) # Weight of people in kg

• WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}

ii) # Gravitational force on the Moon: 1.622 m/s2

• GMoon = 1.622

iii) # Gravitational force on the Earth: 9.81 m/s2

• GEarth = 9.81

In [3]:
WEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
GMoon = 1.622
GEarth = 9.81
WMoon={}
WMoon = list(map(lambda name, weight: (weight * GMoon) / GEarth, WEarth.keys(), WEarth.values()))
WMoonDict = dict(zip(WEarth.keys(), WMoon))
print(WMoonDict)

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

# 1. Write a python program to find the first N Prime numbers.

In [19]:
def prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if(num%i==0):
            return False
        else:
            return True
n=int(input("enter a number:"))
for i in range(n+1):
    if prime(i):
        print(i,end=" ")

enter a number:50
3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the

Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct

10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [47]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print(net_salary)

Enter Basic Salary: 15000
Enter HRA: 3000
Enter TA: 1500
Enter DA: 1500
18900.0

# 3.Write a python program to search for a string in the given list.

In [88]:
a=['sai','bhag','si','bhanu','mad']
str=input("enter the string you want to search for")
if str in a:
    print(str+" is found")
else:
    print(str+" is not there in the list")

enter the string you want to search forgi
gi is not there in the list

# 4.Write a Python function that accepts a string and calculates the number of upper-case letters and

lower-case letters.

In [4]:
def count(s):
    lower=0
    upper=0
    for i in Str:
        if(i.islower()):
              lower+=1
        else:
            upper+=1
    return lower,upper

Str=input("enter a string: ")
l,u=count(Str)
print("The no of lowercase chars is:",l)
print("The no of uppercase chars is:",u)

enter a string: GitHub
The no of lowercase chars is: 4
The no of uppercase chars is: 2

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and

37.

In [91]:
sodd = 0
seven = 0
for n in range(12, 38):
    if n % 2 == 1:
        sodd += n
    else:
        seven += n
print("Sum of odd numbers between 12 and 37:", sodd)
print("Sum of even numbers between 12 and 37:", seven)

Sum of odd numbers between 12 and 37: 325
Sum of even numbers between 12 and 37: 312

# 6. Write a python Program to print the table of any number.

In [9]:
n=int(input("enter which table u want:"))
num=int(input("till which number:"))
m=1
for i in range(1,num+1):
    m=n*i
    print(n,"*",i,"=",m)

enter which table u want:12
till which number:6
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72

# 7. Write a Python program to sum the first 10 prime numbers.

In [17]:
def is_prime(number):
    if number <=1:
        return False 
    elif number <= 3: 
        return True 
    elif number % 2==0 or number % 3 == 0: 
        return False 
    i=5 
    while i *i <= number: 
        if number % i == 0 or number % (i+2) == 0: 
            return False
        i+=6
    return True

def sum_first_n_primes(N): 
    prime_numbers = []
    number= 2
    while len(prime_numbers) < N:
        if is_prime(number):
            prime_numbers.append(number) 
        number += 1 
    return sum(prime_numbers)
N=10
sum_of_primes = sum_first_n_primes(N)
print(f"The sum of the first {N} prime numbers is: {sum_of_primes}")

The sum of the first 10 prime numbers is: 129

# 8. Write a python program to implement arithmetic operations using nested ifstatement.

In [20]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an arithmetic operator (+, -, *, /): ")
if operator == '+':
        result = num1 + num2
elif operator == '-':
        result = num1 - num2
elif operator == '*':
        result = num1 * num2
elif operator == '/':
       if num2!=0:
            result=num1/num2
       else:
        result="error division by zero not possible"
print("The result of", num1, operator, num2,"is", result)

Enter the first number: 10
Enter the second number: 2
Enter an arithmetic operator (+, -, *, /): /
The result of 10.0 / 2.0 is 5.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [20]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(celsius," degrees Celsius is equal to", fahrenheit, "degrees Fahrenheit")

Enter temperature in Celsius: 45
45.0  degrees Celsius is equal to 113.0 degrees Fahrenheit

# 10.Write a python program to find a maximum and minimum number in a list without using an
inbuilt function.

In [27]:
list=[0, 9000, 5, -40, -5, 42, 17, -28,88,-75]
l = 0
s = 0
for num in list:
    if num > l:
      l = num
    elif num< s:
        s = num
print("minimum value is:",s)
print("maximum value is:",l)

minimum value is: -75
maximum value is: 9000

# 11.Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours

in a day, 60 minutes per day, 60 seconds in aminute.

In [28]:
day = 30
hours = 24
min = 60
sec= 60
nofsec = day * hours * min* sec
print("There are", nofsec," seconds in a 30-day month.")

There are 2592000 seconds in a 30-day month.

# 12. Write a program in python to print out the number of seconds in a year.

In [55]:
# normal_year = 365
leap_year = 366
hours = 24
minutes = 60
seconds = 60
year = int(input("Enter a year: "))
is_leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
if is_leap_year:
    seconds_in_year = leap_year * hours * minutes * seconds
else:
    seconds_in_year = normal_year * hours * minutes * seconds
print("There are" ,seconds_in_year, "seconds in the year" ,year)

Enter a year: 2005
There are 31536000 seconds in the year 2005

# 13.A high-speed train can travel at an average speed of 150 mph, how long will it take a train

travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [39]:
speed = 150
distance = 414
time = distance / speed
print(f"It takes {time} hours for the train to travel from London to Glasgow at {speed} mph.")

It takes 2.76 hours for the train to travel from London to Glasgow at 150 mph.

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from
year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [41]:
days_in_each_school_year = 192
years = 5
hours_in_school = years * days_in_each_school_year * 6 
print("Total hours spent in school from year 7 to year 11:",hours_in_school," hours")

Total hours spent in school from year 7 to year 11: 5760  hours

# 15. If the age of Ram,Sam and Khan are input through the keyboard,write a python program to

determine the eldest and youngest of the three.

In [50]:
ram= int(input("Enter Ram's age: "))
sam = int(input("Enter Sam's age: "))
khan = int(input("Enter Khan's age: "))
if ram>= sam and ram >= khan:
    eldest = "Ram"
elif sam >= ram and sam >= khan:
    eldest = "Sam"
else:
    eldest = "Khan"
if ram <= sam and ram<= khan:
    youngest = "Ram"
elif sam <= ram and sam <= khan:
    youngest = "Sam"
else:
    youngest = "Khan"
print("The eldest among Ram, Sam, and Khan is:",eldest)
print("The youngest among Ram, Sam, and Khan is:", youngest)

Enter Ram's age: 10
Enter Sam's age: 5
Enter Khan's age: 8
The eldest among Ram, Sam, and Khan is: Ram
The youngest among Ram, Sam, and Khan is: Sam


# 16. Write a python program to rotate a list by right n times with and without slicing technique.

In [25]:
#with slicing
def rotate_right_with_slicing(arr, n):
    n = n % len(arr)# To handle cases where n is greater than the Length of the list
    rotated= arr[-n:] + arr[:-n]
    return rotated
#Input list and number of rotations
original_list=[1, 2, 3, 4, 5]
rotations= int(input("Enter the number of rotations: "))
rotated_list = rotate_right_with_slicing(original_list, rotations)
print("Rotated list with slicing:", rotated_list)

Enter the number of rotations: 6
Rotated list with slicing: [5, 1, 2, 3, 4]

In [33]:
#without slicing
def rotate_right_without_slicing(arr, n):
    length=len(arr)
    n=n%length
    rotated=[0]*length
    for i in range(length): 
        new_index=(i+n)%length
        rotated[new_index]=arr[i]
    return rotated

original_list=[1, 2, 3, 4, 5]
rotations=int(input("Enter the number of rotations: "))
rotated_list=rotate_right_without_slicing(original_list, rotations)
print("Rotated list without slicing:", rotated_list)

Enter the number of rotations: 7
Rotated list without slicing: [4, 5, 1, 2, 3]

# 17. python program to print the patterns

# 1.number pattern

In [2]:
n=int(input("enter a number:"))
for i in range(1,n+1):
    num=1
    for j in range(1,i+1):
        print(num,end=" ")
        num=num*(i-j)//j
    print()

enter a number:7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# 2. star pattern

In [34]:
n = 5
for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# 3.star pattern

In [35]:
n = 7
for i in range(1, n + 1):
    for j in range(n, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print("*", end=" ")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# 4.python pattern

In [36]:
word = "Python"
for i in range(1, len(word) + 1):
    print(word[:i])

P
Py
Pyt
Pyth
Pytho
Python